<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MailKit" version="2.11.1" targetFramework="net45" />
  <package id="MimeKit" version="2.11.0" targetFramework="net45" />
  <package id="NLog" version="4.7.8" targetFramework="net45" />
  <package id="NLog.Config" version="4.7.8" targetFramework="net45" />
  <package id="NLog.Schema" version="4.7.8" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" />
  <package id="TaskScheduler" version="2.9.1" targetFramework="net45" />
</packages>